*{
    box-sizing: border-box;
  }
  
  .title {
    font-family: "Raleway";
    font-size: 5rem;
    font-weight: 700;
    
    color: #451263;
    text-align: center;
  }
  
  body{
    margin: 0px;
    padding: 0px;
    font: poppins;
  }
  
  /* #main{
    width: 100%;
    height: 60vh;
    position: relative;
  } */
  
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .logo img{
    height: 45px;
  }
  
  .menu{
    list-style: none;
    display: flex;
  }
  
  .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(62, 6, 95);
  }
  
  a{
    text-decoration: none;
  }
  
  .hey{
    color: #ba7fd6;
    font-weight: 500;
    font-size: 0.9em;
    border-bottom: 2px solid #ba7fd6;
  }
  
  .image {
   width: 500px;
   height: 500px;
  }
  
  .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .content{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
  }
  
  .main-text{
    width: 500px;
  }
  
  .main-text h1{
    font-size: 3.5em;
    color: rgb(62, 6, 95);
    margin: 0px 0px 10px 0px;
    line-height: 60px;
  }
  .main-text p{
    color: rgb(62, 6, 95);
  }
  .btn{
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ba7fd6;
    border-radius: 20px;
    box-shadow:  5px 10px 30px rgba(62, 6, 95, 0.2);
  }
  
  .resume-btn:hover{
    background-color:  #ae5cd4;
    transition: all ease 0.2s; 
  }
  
  .menu li a:hover{
    background-color: #ae5cd4;
    color:rgb(62, 6, 95);
    box-shadow:  5px 10px 30px rgba(62, 6, 95,0.2);
    transition: all ease 0.2s; 
  }
  
  
  html, body {
      background-color: #FFFFFF;
  }
  
  /* header styling */
  
  header {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
  }
  
  #title {
      color: rgb(62, 6, 95);
      font-size: 4.42em;
      padding: 1px 55px;
      font-family: 'Underdog', cursive;
      text-shadow: 4px 2px 5px #ba7fd6,
      0px 1px 2px rgb(62, 6, 95);
  
  }
  
  #top-pic {
      display: block;
      margin-left: auto;
      justify-content: flex-end;
      min-width: 50%;
      max-width: 70%;
  
  }
  
  /* main styling */
  
  #survey-form {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      opacity: 0.9;
      font-size: 1.2em;
      margin: 0px 50px;
    /* align-items: center; */
    color: rgb(80, 4, 131);
    background-color: #e3ccee;
    border-radius: 20px;
    box-shadow:  5px 10px 30px rgba(62, 6, 95,0.2);
  }
  
  #description {
      font-size: 1.1em;
      text-align: center;
  }
  
  form, #todays-date > select, input, textarea, #dropdown {
      padding: 5px;
      margin-left: 5px;
      font-size: 18px;
    /* justify-content: center;
    align-items: center; */
    color:rgb(62, 6, 95);
    background-color: white;
    border-radius: 20px;
    box-shadow:  5px 10px 30px rgba(62, 6, 95, 0.2);
  }
  
  .main-label {
      display: flex;
      justify-content: stretch;
      font-size: 1.1em;
      font-weight: bold;
      padding: 5px;
  }
  
  form > div {
  
      padding: 5px;
  
  }
  
  ul {
      padding-left: 0px;
  }
  
  li{
      padding: 2px 2px 2px 5px;
      display: inline-block;
      list-style: none;
  }
  
  input {
  
    justify-content: center;
    align-items: center;
    color: rgb(62, 6, 95);
    background-color: white;
    border-radius: 20px;
    box-shadow:  5px 10px 30px rgba(70, 3, 87, 0.2);
  }
  
  #email-phone > input, #dogName > input, #first-last-name > input, #address > input {
      width: 90%;
  }
  #gender {
      display: flex;
      justify-content: stretch;
  }
  
  #housing {
      display: flex;
      flex-direction: column;
    
  }
  
  #housing > select {
      margin: 15px;
      width: 90%;
    justify-content: center;
    align-items: center;
    color: rgb(62, 6, 95);
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow:  5px 10px 30px rgba(62, 6, 95, 0.2);
  }
  
  textarea {
      resize: none;
      width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(62, 6, 95);
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow:  5px 10px 30px rgba(62, 6, 95, 0.2);
  }
  
  
  
  
  
  